numpy
numba
pandas
geopandas
shapely
pyproj
rasterio
pyogrio
laspy[lazrs]
lxml
scipy
matplotlib
pyarrow
requests
osmium
trimesh
rtree
manifold3d
mapbox-earcut
Pillow
networkx
structlog==25.4.0
tqdm
pytest
